.card {
  border: none;
  border-radius: 0;
  /* border-bottom: 0.9px solid rgb(211, 211, 211, 0.3);
  border-right: 0.9px solid rgb(211, 211, 211, 0.3); */
  overflow: hidden;
  width: 100%;
  z-index: 2;
  margin: 6px 0;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover {
  background-color: rgb(211, 211, 211, 0.07);
  cursor: pointer;
}

.card-text {
  font-size: 1rem;
}

.dropdown-item {
  cursor: pointer;
}

.tweet-image {
  height: auto;
  max-width: 100%;
}

.tweet-image-bg {
  background-color: black;
  border: 0.9px solid rgb(211, 211, 211, 0.3);
  border-radius: 16px;
  margin: 12px 0;
  overflow: auto;
  text-align: center;
}

.comment-line {
  border-left: 2px solid rgb(211, 211, 211, 0.7);
  height: 100%;
  margin: 18% 0 0 48%;
}

.options span {
  font-size: small;
  padding-left: 5px;
}

#tweet .dropdown:hover {
  color: #1da1f2;
  border-radius: 50%;
}

#tweet .dateNtimeContainer {
  margin-bottom: 1.3px;
}

#tweet .dateNtime {
  font-size: small;
  color: rgb(83, 100, 113);
}

/* ----------------------------- */
.tweet-darkMode-changes {
  border-width: 0px !important;
}
