.header {
  backdrop-filter: blur(5px);
  background-color: rgb(255, 255, 255, 0.9);
  /* border-bottom: 0.9px solid rgb(211, 211, 211, 0.3); */
  /* border-right: 0.9px solid rgb(211, 211, 211, 0.3); */
  /* border-top: .9px solid rgb(211, 211, 211, 0.3); */
  height: 50px;
  padding: 10px 18px 32px 18px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  margin: 0 0 6px 0;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  /* border-radius: 16px; */
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.header p {
  font-size: 1rem;
}

.header p:nth-child(2) {
  font-size: 0.85rem;
}
