.sidebar {
  /* border-right: 0.9px solid rgb(211, 211, 211, 0.3); */
  height: 100vh;
  position: fixed;
  top: 0;
  width: 12%;
  z-index: 99;
}

.sidebar .logo-link{
  margin-top: 10px;
}

.sidebar .HeadingText{
  text-decoration: none;
}

.sidebar .HeadingText span {
  font-family: "Caveat";
  font-size: 38px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: -4px;
  margin-top: 10px;
}

.sidebar .dropdown {
  cursor: pointer;
}

.sidebar .dropdown .dropdown-menu {
  margin: 6px 0;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}

.sidebar .dropdown .dropdown-item {
  display: flex;
  align-items: center;
}

.sidebar .dropdown .dropdown-item .userInfo{
  display: flex;
  flex-direction: column;
}

.sidebar-nav-item:hover {
  border-radius: 50%;
  background-color: rgb(247, 249, 249);
}

.sidebar-nav-item:active {
  background-color: rgb(237, 239, 239);
}
